.vehicle-style{
    border: solid 1px #027302;
    background-color: #cecaca;
}

.bold{
    font-weight: bold;
}

.cars-length{
    color: red;
    font-weight: bold;
}

.moto-length{
    color: green;
    font-weight: bold;
}